/*===== VARIABLES CSS =====*/
/*========== Colors ==========*/
$color-black: #030303;
$color-white: #FFFFFF;
$color-gold: #9D8665;
$color-gold-dark: #7E6C51;
$color-red: #710707; 
$color-dark: #030303;
$color-gray: #B3B3B3;
$color-gray-dark: #666666;
/*========== Font and typography ==========*/
$font-body: 'Roboto', sans-serif;
$font-title: 'Forum', cursive;
$font-size-title: 80px;
$font-size-title-tablet: 50px;
$font-size-title-mobile: 40px;
$font-size-1: 32px;
$font-size-2: 28px;
$font-size-3: 22px;
$font-size-4: 18px;
/*========== Font weight ==========*/
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;